# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Sushi.iml
# Datasource local storage ignored files
/../../../../../../../:\CodeLab\Sushi\Sushi\.idea\.idea.Sushi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
